body {
  font-family: Arial, Helvetica, sans-serif; margin: 0; 
  font-weight: lighter;
  font-style: times new roman;
  background-color: rgb(251, 247, 255);
  background-image: rgb(253, 253, 253);
}