body {
  font-family: Arial, Helvetica, sans-serif; margin: 0; 
  font-weight: lighter;
  font-style: times new roman;
  background-color: rgb(255, 255, 255);
  background-image: rgb(253, 253, 253);
}
.top {
  background-image: rgb(255, 255, 251); 
  background-size: cover;
  height: 100vh;
  background-color:rgb(118, 118, 252);
  opacity: 1000%; z-index: -2;
}